<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="todo.css">
</head>
<body>
    <div class="container">
            <h1>Todos</h1>

            <!-- The behavior of the content are under the ng-controller 
                 and thy will be managed using TodoListController class  -->
            <div ng-controller="TodoListController as todoList">
                <div class="d-flex flex-row justify-content-center">
                     <!-- count the remaining todos left -->
                    <span class="inline-block">{{ todoList.remaining() }} of {{ todoList.todos.length }} remaining</span>
                    [ <a href="" ng-click="todoList.archive()">Archive</a> ]
                </div>
                <br>
                <ul>
                    <!-- list all the elements of the array todos -->
                    <li ng-repeat="todo in todoList.todos">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="todo.done">
        
                            <!-- If the value of todo.done is true we set the class done-true wish
                                 applies the strikethrough -->
                            <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                        </label>
                    </li>
                </ul>
        
                <!-- Intercepts form submit and instead call addTodo() method, in this method
                     we read the todoText property and insert into the todos collection -->
                <form ng-submit="todoList.addTodo()">
                    <div class="form-row">
                        <input type="text" ng-model="todoList.todoText" size="30"
                                placeholder="Add a new todo here..." class="col-10">
                        
                        <input type="submit" value="add" class="btn btn-primary col-2">
                    </div>
                </form>
            </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>