body {
    text-align: center;
}

.done-true {
    text-decoration: line-through;
    color: #5f5f5f;
}

li {
    list-style: none;
}

.container {
    background-color: #efefef;
}

form {
    text-align: center;
}