body {
    text-align: center;
}

.done-true {
    text-decoration: line-through;
    color: #5f5f5f;
}

ul {
    text-align: left;
}

li {
    list-style: none;
    display: block;
}

.container {
    background-color: #efefef;
    width: 400px;
    margin: 0 auto;
    min-height: 30%;
    padding: 10px;
}