<html lang="en" ng-app="Relatorio">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relatório coverage area</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../kartik-v-bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="../kartik-v-bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="../public/css/theme-default.css">
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!-- Angular scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script type="text/javascript" src="../controllers/main.controller.js"></script>
    <script type="text/javascript" src="../directives/components/scroll-top.component.js"></script>
    <script type="text/javascript" src="../directives/components/scroll-bottom.component.js"></script>
    <script type="text/javascript" src="../directives/components/quick-view-card.component.js"></script>
</head>
<body>
    <div ng-controller="mainCtrl">
        <div class="container">
            <div class="row">
                <!--------- Quick View --------------->
                <div class="panel panel-default mt-5">
                        <div class="panel-heading">
                            <div class="panel-title-box">
                                <h3>Quick View</h3>
                                <span>Periodo: 01/01/2019 - 01/02/2019</span>
                            </div>
                            <ul class="panel-controls" style="margin-top: 2px;">
                                <li>
                                    <a href="#"><i class="fas fa-cog" style="font-size: 1.3rem; line-height: 2.2rem;"></i></a>                                                                            
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body padding-0">
                            <div class="chart-holder" id="dashboard-donut-1" style="background-color: #f9f7f7; padding-top: 1.5rem;">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <div ng-repeat="card in cards" ng-if="$index % 4 == 0">
                                                    <div class="row">
                                                        <km-kpi 
                                                            ng-if="cards[$index].name != null && cards[$index].name != undefined"
                                                            name="cards[$index].name"
                                                            serie="cards[$index].serie"
                                                            model="cards[$index].model" 
                                                            pv="cards[$index].pv"
                                                            av="cards[$index].av"
                                                            class="col-12 col-sm-6 col-lg-3">
                                                        </km-kpi>
                                                        <km-kpi 
                                                            ng-if="cards[$index + 1].name != null && cards[$index + 1].name != undefined"
                                                            name="cards[$index + 1].name"
                                                            serie="cards[$index + 1].serie"
                                                            model="cards[$index + 1].model" 
                                                            pv="cards[$index + 1].pv"
                                                            av="cards[$index + 1].av"
                                                            class="col-12 col-sm-6 col-lg-3">
                                                        </km-kpi>
                                                        <km-kpi 
                                                            ng-if="cards[$index + 2].name != null && cards[$index + 2].name != undefined"
                                                            name="cards[$index + 2].name"
                                                            serie="cards[$index + 2].serie"
                                                            model="cards[$index + 2].model" 
                                                            pv="cards[$index + 2].pv"
                                                            av="cards[$index + 2].av"
                                                            class="col-12 col-sm-6 col-lg-3">
                                                        </km-kpi>
                                                        <km-kpi 
                                                            ng-if="cards[$index + 3].name != null && cards[$index + 3].name != undefined"
                                                            name="cards[$index + 3].name"
                                                            serie="cards[$index + 3].serie"
                                                            model="cards[$index + 3].model" 
                                                            pv="cards[$index + 3].pv"
                                                            av="cards[$index + 3].av"
                                                            class="col-12 col-sm-6 col-lg-3">
                                                        </km-kpi>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                        
                            </div>
                        </div>
                        <div class="panel-footer" style="font-size: 1.1rem; font-weight: 600;">
                            <p style="padding: 0; margin: 0;">Total PV: {{ totalPv() }} - Total Area de Cobertura: {{ areaCobertura() }}</p>
                        </div>
                    </div>

                <!-- <file-input></file-input> -->
                
                <scroll-top></scroll-top>
                <scroll-bottom></scroll-bottom>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap-file-input -->
    <script src="../kartik-v-bootstrap-fileinput/js/plugins/purify.min.js"></script>
    <script src="../kartik-v-bootstrap-fileinput/js/plugins/sortable.min.js"></script>
    <script src="../kartik-v-bootstrap-fileinput/js/plugins/piexif.min.js"></script>
    <script src="../kartik-v-bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="../kartik-v-bootstrap-fileinput/themes/fas/theme.js"></script>
</body>
</html>